@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #111111;
}

.logo {
  width: 128px;
  height: 128px;
  margin-left: 45%;
  margin-top: 2%;
}

.rant {
  font-family: Roboto;
  color: #ffffff;
  margin-top: 30px;
  margin-left: 20px;
  line-height: 32px;
  margin-right: 20px;
}
